@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Body
$body-bg: #f8fafc;
$fairy-color: #EE99AC;
$fire-color: #F08030;
$water-color: #6890F0;
$grass-color: #78C850;
$electric-color: #F8D030;
$psychic-color: #F85888;
$rock-color: #B8A038;
$ground-color: #E0C068;
$dragon-color: #7038F8;
$dark-color: #705848;
$ice-color: #98D8D8;
$steel-color: #B8B8D0;
$flying-color: #A890F0;
$bug-color: #A8B820;
$normal-color: #A8A878;
$poison-color: #A040A0;
$ghost-color: #705898;
$fighting-color: #C03028;

// Typography
$font-family: 'Ubuntu Mono', monospace;
$font-size-base: 1em;
$line-height-base: 1.6;
